@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header {	
	width: 100%;
	height: 100vh;
	background-image: url(wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#particles-js {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
}	

#nav-bar {
	width: 100%;
	height: 90px;
	position: fixed;
	float: left;
	z-index: 1;
	transition: 0.5s all;
	animation: aparecer 1s linear 1s 1 backwards;
}

.nav-bar-scroll {
	width: 100%;
	height: 90px;
	position: fixed;
	background-color: #fff;
	float: left;
	transition: 0.5s all;
	animation: aparecer 1s linear 0s 1 backwards;
	box-shadow: 0px 0px 50px #dddddd; 
}

.faixa {
	width: 100%;
	height: 5px;
	background-color:#ecf0f1;
	display: block;
	position: absolute;
	bottom:0;
	opacity: 0;
}

.logo {
	float: left;
	position: relative;
	top:15%;
	left: 15px;
}

.menu {
	float: right;
	position: relative;
	right: 20px;
	top: 37px;
}

.item-menu {
	text-decoration: none;
	font-family:montserrat;
	padding: 10px;
	color: #fff;
	transition: 0.5s all;
	font-size: 14px;
}

.item-menu:hover {
	text-shadow: 0px 0px 3px #dddddd; 
}

.item-menu-scroll {
	text-decoration: none;
	animation: mudarcorletra 7s  ease-in-out infinite backwards;
	font-family:montserrat;
	padding: 10px;
	transition: 0.5s all;
	font-size: 14px;
}	

#lateral {
	height: 100vh;
	width: 100%;
	background-color:#fff;
	float: right;
	position: absolute;
	right: -800px;
	transition: 0.4s;
	z-index: 1;
}

.imgmenu {
	position: absolute;
	right: 20px;
	top: 35px;
	cursor: pointer;
}

.xis {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 30px;   
	cursor: pointer;
	animation: mudarcorletra 7s  ease-in-out infinite backwards;
}

#menuresponsivo {
	display: none;
	z-index: 1;
	position: relative;
}

.particles-js-canvas-el {
	float: right;
	z-index: 4;
}

#conteudo-home {
	width: 100%;
	height: 100vh;
	float: left;
}

.nome-home{
	width: 500px;
	height: auto;
	margin: auto;
	display: block;
	position: relative;
	top:43%;
	animation:aparecer 1s linear 0.5s 1 backwards
}

.calltoaction:hover {
	background-color: #fff;
	color: #7224B5;
}

.calltoaction {
	padding: 20px;
	position: relative;
	top: 45%;
	margin: auto;
	display: block;
	background-color: transparent;
	color:#fff;
	border: 3px solid #fff;
	border-radius: 80px;
	font-family: montserrat;
	font-size: 18px;
	cursor: pointer;
	width: 440px;
	text-align: center;
	text-decoration: none;
	transition: 0.4s;
}

.calltoaction2{
	padding: 20px;
	top: 45%;
	margin: auto;
	display: block;
	background-color: transparent;
	color:#7224B5;
	border: 3px solid #7224B5;
	border-radius: 80px;
	font-family: montserrat;
	font-size: 18px;
	cursor: pointer;
	width: 440px;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	transition-delay: 0s;
	opacity: 0;
}

.calltoaction2:hover {
	background-color: #7224B5;
	color: #fff;
}

.logo-grande {
	position: absolute;
	bottom: 0;
	right: 0;
	animation: aparecer 1s linear 0.5s 1 backwards;
}

#sobre {
	width: 100%;
	height: 95vh;
	background-color: #fff;
}

.titulo-sessao {
	color: #7224B5;
	font-size: 35px;
	font-family: montserrat;
	font-weight: 600;
	text-align: center;
	z-index: 2;
	animation: none;
	letter-spacing: 3px;
	padding-top: 170px;
	opacity: 0;
	transition: 0.5s;
}

.conteudo-sobre {
	width: 70%;
	justify-content: space-around;
	height: auto;
	display:flex;
	margin: auto;
	opacity:0 ;
	transition: 0.5s;
	transition-delay: 0s;
}

.servicos {
	width: 300px;
	height: auto;
	margin: 80px 50px;
	display: inline-block;
}

.icon-servicos {
	width: 150px;
	height: auto;
	display: block;
	position: relative;
	margin: auto;
}

.titulo-servico {
	color: #6d32af;
	font-family: montserrat;
	font-weight: 800;
	font-size: 25px;
	padding: 20px;
	text-align: center;
}

.texto-servico {
	color: rgb(60, 29, 94);
	font-family: montserrat;
	font-weight: 800;
	font-size: 13px;
	text-align: justify;
}

@keyframes mudarcor {
	0% {
		background-color: #7224B5;
	}

	50% {
		background-color: rgb(60, 29, 94);

	}

	100% {
		background-color: #7224B5;
	}
}

@keyframes mudarcorletra {
	0% {
		color: #6d32af;
	}

	50% {
		color: #864fc3;

	}

	100% {
		color: #6d32af;
	}
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	100% {
		opacity:1;
		
	}
}

@keyframes esticar {
	0% {
		width: 0%;
	}

	100% {
		width: 15%;
		
	}
}

@media (max-width: 764px) {

	#header {
		height: 90vh;
	}

	#menuresponsivo {
		display: block;
	}

	.titulo-sessao {
		padding-top: 90px;
	}
	
	.conteudo-sobre {
		display: block;
	}
	
	.servicos {
		display: block;
		margin: 80px auto;
	}

	.item-menu {
		display: none;
	}

	.item-menu-lateral{
		display: block;
		text-decoration: none;
		font-family: montserrat;
		color: #6d32af;
		padding:10px;
		position: relative;
		top: 37vh;
		text-align: center;
		font-size: 30px;
	}

	.item-menu-scroll{
		display: none;
	}

	nav {
		display: block;
	}

	.logo {
		padding: 13px 0;
		width: 70px;
	}

	.logo-grande {
		width: 200px;
		display: none;
	}

	.nome-home{
		width: 300px;
	}

	.calltoaction {
		width: 250px;
		font-size: 16px;
		padding: 15px;
	}

	.calltoaction2 {
		width: 300px;
		font-size: 16px;
		margin: 0 auto 80px auto;
	}

	#menuresponsivo {
		display: block;
	}

	.menu-lateral {
		display: block;
	}
	
	.imgmenu {
		top:20px;
	}

	.servicos {
		width: auto;
	}

	#nav-bar {
		height: 70px;
	}
	
}
